:root {
  --white: #ffffff;
  --black: #353535;
  --foreground: #171717;
  --background: #EFF6FF;

  /* Blues */
  --lobby-blue: #22007F;
  --lobby-blue-light: #3100B6;

  /* Greens */
  --green-select: #04DDB3;

  /* Grays */
  --gray-1: #64748B;
  --gray-2: #B1B9C5;
  --gray-3: #D8DCE2;
  --gray-4: #F4F4F4;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}

body {
  display: flex;
  height: 100vh;
  width: 100vw;

  font-family: var(--font-open-sans);
  color: var(--foreground);
  background: var(--background);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

a {
  color: inherit;
  text-decoration: none;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
}
